In [185]:
import pandas as pd 
df = pd.read_excel(r"C:\Users\Ali Muhtasham Javed\Downloads\Car_Sales_Kaggle (1).xlsx")
df

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,Horsepower,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
0,Acura,Integra,16919.0,21500.0,16360.0,0.760930,GOOD,1.8,140,Medium HP,Passenger,28,58.280150,101.2,67.3,172.4,2.639,13.2,2012-02-02
1,Acura,TL,39384.0,28400.0,19875.0,0.699824,GOOD,3.2,225,Medium HP,Passenger,25,91.370778,108.1,70.3,192.9,3.517,17.2,2011-06-03
2,Acura,RL,8588.0,42000.0,29725.0,0.707738,GOOD,3.5,210,Medium HP,Passenger,22,91.389779,114.6,71.4,196.6,3.850,18.0,2011-03-10
3,Audi,A4,20397.0,23990.0,22255.0,0.927678,GOOD,1.8,150,Medium HP,Passenger,27,62.777639,102.6,68.2,178.0,2.998,16.4,2011-10-08
4,Audi,A6,18780.0,33950.0,23555.0,0.693814,GOOD,2.8,200,Medium HP,Passenger,22,84.565105,108.7,76.1,192.0,3.561,18.5,2011-08-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Volvo,V40,3545.0,24400.0,15252.0,0.625082,POOR,1.9,160,Medium HP,Passenger,25,66.498812,100.5,67.6,176.6,3.042,15.8,2011-09-21
151,Volvo,S70,15245.0,27500.0,18900.0,0.687273,POOR,2.4,168,Medium HP,Passenger,25,70.654495,104.9,69.3,185.9,3.208,17.9,2012-11-24
152,Volvo,V70,17531.0,28800.0,20223.0,0.702187,GOOD,2.4,168,Medium HP,Passenger,25,71.155978,104.9,69.3,186.2,3.259,17.9,2011-06-25
153,Volvo,C70,3493.0,45500.0,34175.0,0.751099,GOOD,2.3,236,Medium HP,Passenger,23,101.623357,104.9,71.5,185.7,3.601,18.5,2011-04-26
154,Volvo,S80,18969.0,36000.0,26403.0,0.733417,GOOD,2.9,201,Medium HP,Passenger,24,85.735655,109.9,72.1,189.8,3.600,21.1,2011-11-14

In [186]:
rows, columns = df.shape

In [187]:
rows

155

In [188]:
df.head(2)

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,Horsepower,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
0,Acura,Integra,16919.0,21500.0,16360.0,0.760930,GOOD,1.8,140,Medium HP,Passenger,28,58.280150,101.2,67.3,172.4,2.639,13.2,2012-02-02
1,Acura,TL,39384.0,28400.0,19875.0,0.699824,GOOD,3.2,225,Medium HP,Passenger,25,91.370778,108.1,70.3,192.9,3.517,17.2,2011-06-03

In [189]:
df.tail(2)

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,Horsepower,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
153,Volvo,C70,3493.0,45500.0,34175.0,0.751099,GOOD,2.3,236,Medium HP,Passenger,23,101.623357,104.9,71.5,185.7,3.601,18.5,2011-04-26
154,Volvo,S80,18969.0,36000.0,26403.0,0.733417,GOOD,2.9,201,Medium HP,Passenger,24,85.735655,109.9,72.1,189.8,3.600,21.1,2011-11-14

In [190]:
df[2:5]

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,Horsepower,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
2,Acura,RL,8588.0,42000.0,29725.0,0.707738,GOOD,3.5,210,Medium HP,Passenger,22,91.389779,114.6,71.4,196.6,3.850,18.0,2011-03-10
3,Audi,A4,20397.0,23990.0,22255.0,0.927678,GOOD,1.8,150,Medium HP,Passenger,27,62.777639,102.6,68.2,178.0,2.998,16.4,2011-10-08
4,Audi,A6,18780.0,33950.0,23555.0,0.693814,GOOD,2.8,200,Medium HP,Passenger,22,84.565105,108.7,76.1,192.0,3.561,18.5,2011-08-09

In [191]:
df.columns

Index(['Manufacturer', 'Model', 'Unit Sales', 'Price', 'Year Resale Value',
       'Retention %', 'Retention Value', 'Engine Size', 'Horsepower',
       'HP Level', 'Vehicle_type', 'Fuel Efficiency', 'Power Perf Factor',
       'Wheelbase', 'Width', 'Length', 'Curb Weight', 'Fuel Capacity',
       'Latest Launch'],
      dtype='object')

In [192]:
df.Manufacturer #df["Manufacturer"] // both are same

0      Acura
1      Acura
2      Acura
3       Audi
4       Audi
       ...
150    Volvo
151    Volvo
152    Volvo
153    Volvo
154    Volvo
Name: Manufacturer, Length: 155, dtype: object

In [193]:
df["Manufacturer"]

0      Acura
1      Acura
2      Acura
3       Audi
4       Audi
       ...
150    Volvo
151    Volvo
152    Volvo
153    Volvo
154    Volvo
Name: Manufacturer, Length: 155, dtype: object

In [194]:
type(df["Manufacturer"])

pandas.core.series.Series

In [195]:
df[['Manufacturer', 'Model', 'Retention %']]

    Manufacturer    Model  Retention %
0          Acura  Integra     0.760930
1          Acura       TL     0.699824
2          Acura       RL     0.707738
3           Audi       A4     0.927678
4           Audi       A6     0.693814
..           ...      ...          ...
150        Volvo      V40     0.625082
151        Volvo      S70     0.687273
152        Volvo      V70     0.702187
153        Volvo      C70     0.751099
154        Volvo      S80     0.733417

[155 rows x 3 columns]

In [196]:
df[['Manufacturer', 'Model', 'Retention %']].head(10)

  Manufacturer    Model  Retention %
0        Acura  Integra     0.760930
1        Acura       TL     0.699824
2        Acura       RL     0.707738
3         Audi       A4     0.927678
4         Audi       A6     0.693814
5         Audi       A8     0.629032
6          BMW     323i     0.907744
7          BMW     328i     0.858533
8          BMW     528i     0.928663
9        Buick  Century     0.567691

In [197]:
df['Retention %'][:10].max()

0.9286632390745502

In [198]:
df['Retention %'].min()

0.4791106329567868

In [199]:
df[:3].describe()

,Unit Sales,Price,Year Resale Value,Retention %,Engine Size,Horsepower,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
count,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.0,3.000000,3.000000,3.000000,3.00000,3.000000,3.000000,3
mean,21630.333333,30633.333333,21986.666667,0.722831,2.833333,191.666667,25.0,80.346902,107.966667,69.666667,187.30000,3.335333,16.133333,2011-07-26 00:00:00
min,8588.000000,21500.000000,16360.000000,0.699824,1.800000,140.000000,22.0,58.280150,101.200000,67.300000,172.40000,2.639000,13.200000,2011-03-10 00:00:00
25%,12753.500000,24950.000000,18117.500000,0.703781,2.500000,175.000000,23.5,74.825464,104.650000,68.800000,182.65000,3.078000,15.200000,2011-04-21 12:00:00
50%,16919.000000,28400.000000,19875.000000,0.707738,3.200000,210.000000,25.0,91.370778,108.100000,70.300000,192.90000,3.517000,17.200000,2011-06-03 00:00:00
75%,28151.500000,35200.000000,24800.000000,0.734334,3.350000,217.500000,26.5,91.380278,111.350000,70.850000,194.75000,3.683500,17.600000,2011-10-03 00:00:00
max,39384.000000,42000.000000,29725.000000,0.760930,3.500000,225.000000,28.0,91.389779,114.600000,71.400000,196.60000,3.850000,18.000000,2012-02-02 00:00:00
std,15929.403640,10430.883631,6928.214657,0.033232,0.907377,45.368859,3.0,19.110371,6.700995,2.122106,13.03572,0.625606,2.571640,NaN

In [200]:
df[['Manufacturer', 'Price']]
df[df.Price==df['Price'].max()]

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,Horsepower,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
97,Mercedes-B,CL500,954.0,85500.0,63423.0,0.741789,GOOD,5.0,302,High HP,Passenger,20,141.100985,113.6,73.1,196.6,4.115,23.2,2011-04-11

In [201]:
df[df.Price>=80000.0]
df_filtered = df[df["Price"] >= 80000.0][["Price", "Model"]]
print(df_filtered)

      Price     Model
93  82600.0  SL-Class
97  85500.0     CL500

In [202]:
#df = df.iloc[:, :5]
df[df.Price>= 70000.0]
#df1 = df[['Price'] >= 70000.0]
#printdf1

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,Horsepower,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
93,Mercedes-B,SL-Class,3311.0,82600.0,58600.0,0.709443,GOOD,5.0,302,High HP,Passenger,20,139.982294,99.0,71.3,177.1,4.125,21.1,2011-03-17
97,Mercedes-B,CL500,954.0,85500.0,63423.0,0.741789,GOOD,5.0,302,High HP,Passenger,20,141.100985,113.6,73.1,196.6,4.115,23.2,2011-04-11
123,Porsche,Carrera Coupe,1280.0,71020.0,60625.0,0.853633,GOOD,3.4,300,High HP,Passenger,21,134.390975,92.6,69.5,174.5,3.032,17.0,2012-12-21
124,Porsche,Carrera Cabrio,1866.0,74970.0,67550.0,0.901027,GOOD,3.4,300,High HP,Passenger,23,135.914710,92.6,69.5,174.5,3.075,17.0,2011-07-11

In [1]:
df_price = df[df['Price'] >= 70000.0]
df.loc[[93,97,123,124]]
df

NameError: name 'df' is not defined

In [ ]:
df[['Model', 'Price']][df.Price==df['Price'].max()]

    Model    Price
97  CL500  85500.0

In [ ]:
df.rename(columns={'Price' : 'price' }, inplace =False)

,Manufacturer,Model,Unit Sales,price,Year Resale Value,Retention %,Retention Value,Engine Size,Horsepower,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
0,Acura,Integra,16919.0,21500.0,16360.0,0.760930,GOOD,1.8,140,Medium HP,Passenger,28,58.280150,101.2,67.3,172.4,2.639,13.2,2012-02-02
1,Acura,TL,39384.0,28400.0,19875.0,0.699824,GOOD,3.2,225,Medium HP,Passenger,25,91.370778,108.1,70.3,192.9,3.517,17.2,2011-06-03
2,Acura,RL,8588.0,42000.0,29725.0,0.707738,GOOD,3.5,210,Medium HP,Passenger,22,91.389779,114.6,71.4,196.6,3.850,18.0,2011-03-10
3,Audi,A4,20397.0,23990.0,22255.0,0.927678,GOOD,1.8,150,Medium HP,Passenger,27,62.777639,102.6,68.2,178.0,2.998,16.4,2011-10-08
4,Audi,A6,18780.0,33950.0,23555.0,0.693814,GOOD,2.8,200,Medium HP,Passenger,22,84.565105,108.7,76.1,192.0,3.561,18.5,2011-08-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Volvo,V40,3545.0,24400.0,15252.0,0.625082,POOR,1.9,160,Medium HP,Passenger,25,66.498812,100.5,67.6,176.6,3.042,15.8,2011-09-21
151,Volvo,S70,15245.0,27500.0,18900.0,0.687273,POOR,2.4,168,Medium HP,Passenger,25,70.654495,104.9,69.3,185.9,3.208,17.9,2012-11-24
152,Volvo,V70,17531.0,28800.0,20223.0,0.702187,GOOD,2.4,168,Medium HP,Passenger,25,71.155978,104.9,69.3,186.2,3.259,17.9,2011-06-25
153,Volvo,C70,3493.0,45500.0,34175.0,0.751099,GOOD,2.3,236,Medium HP,Passenger,23,101.623357,104.9,71.5,185.7,3.601,18.5,2011-04-26
154,Volvo,S80,18969.0,36000.0,26403.0,0.733417,GOOD,2.9,201,Medium HP,Passenger,24,85.735655,109.9,72.1,189.8,3.600,21.1,2011-11-14

In [ ]:

df[['Model','Price']][df.Price ==df['Price'].max()]

    Model    Price
97  CL500  85500.0

In [ ]:

# Pseudocode:
# 1. Find the maximum price in the "price" column
# 2. Filter rows where "price" is equal to the maximum price
# 3. Select only the "Model" and "price" columns
# 4. Display the result

first = df.loc[df['price'] == df['price'].max(), ['Model', 'price']]
print(first)
second = df.loc[df['price'] == df['price'].min(), ['Model', 'price']]
print(second)

    Model    price
97  CL500  85500.0
    Model   price
25  Metro  9235.0

In [ ]:
df.index

RangeIndex(start=0, stop=155, step=1)

In [ ]:
df.set_index('Manufacturer')
#doest modify original data. gotta place inplace = true to modify the data as whole.
#df.set_index('Manufacturer', inplace = True ) 

#for resettting 
#df.reset_index(inplace = True)

                Model  Unit Sales    price  Year Resale Value
Manufacturer
Acura         Integra     16919.0  21500.0            16360.0
Acura              TL     39384.0  28400.0            19875.0
Acura              RL      8588.0  42000.0            29725.0
Audi               A4     20397.0  23990.0            22255.0
Audi               A6     18780.0  33950.0            23555.0
...               ...         ...      ...                ...
Volvo             V40      3545.0  24400.0            15252.0
Volvo             S70     15245.0  27500.0            18900.0
Volvo             V70     17531.0  28800.0            20223.0
Volvo             C70      3493.0  45500.0            34175.0
Volvo             S80     18969.0  36000.0            26403.0

[155 rows x 4 columns]

In [ ]:
#AudiCount = df[['Manufacturer'] == df['Audi'].sum()]
#print(AudiCount)
#'Audi' is not a column name, but you're treating it like one (df['Audi']).
#[['Manufacturer'] == df['Audi'].sum()] is an invalid syntax.

In [ ]:
AudiCount = (df['Manufacturer'] == 'Audi').sum()
print(AudiCount)

3

In [ ]:
#for data in original form
df.loc[[5]]

  Manufacturer Model  Unit Sales    price  Year Resale Value
5         Audi    A8      1380.0  62000.0            39000.0

In [ ]:
#for data of row in tabular form
df.loc[5]

Manufacturer            Audi
Model                     A8
Unit Sales            1380.0
price                62000.0
Year Resale Value    39000.0
Name: 5, dtype: object

In [ ]:
df = df.copy()  # Assuming you stored a backup
#because i used df = df.iloc[:, :5] to only get the first 4 columns .
#now to get back all columns , df = df.copy()

In [ ]:
df.columns

Index(['Manufacturer', 'Model', 'Unit Sales', 'Price', 'Year Resale Value',
       'Retention %', 'Retention Value', 'Engine Size', 'Horsepower',
       'HP Level', 'Vehicle_type', 'Fuel Efficiency', 'Power Perf Factor',
       'Wheelbase', 'Width', 'Length', 'Curb Weight', 'Fuel Capacity',
       'Latest Launch'],
      dtype='object')

In [ ]:
df.set_index('Horsepower', inplace = True)

In [ ]:
df

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
Horsepower,,,,,,,,,,,,,,,,,,
140,Acura,Integra,16919.0,21500.0,16360.0,0.760930,GOOD,1.8,Medium HP,Passenger,28,58.280150,101.2,67.3,172.4,2.639,13.2,2012-02-02
225,Acura,TL,39384.0,28400.0,19875.0,0.699824,GOOD,3.2,Medium HP,Passenger,25,91.370778,108.1,70.3,192.9,3.517,17.2,2011-06-03
210,Acura,RL,8588.0,42000.0,29725.0,0.707738,GOOD,3.5,Medium HP,Passenger,22,91.389779,114.6,71.4,196.6,3.850,18.0,2011-03-10
150,Audi,A4,20397.0,23990.0,22255.0,0.927678,GOOD,1.8,Medium HP,Passenger,27,62.777639,102.6,68.2,178.0,2.998,16.4,2011-10-08
200,Audi,A6,18780.0,33950.0,23555.0,0.693814,GOOD,2.8,Medium HP,Passenger,22,84.565105,108.7,76.1,192.0,3.561,18.5,2011-08-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Volvo,V40,3545.0,24400.0,15252.0,0.625082,POOR,1.9,Medium HP,Passenger,25,66.498812,100.5,67.6,176.6,3.042,15.8,2011-09-21
168,Volvo,S70,15245.0,27500.0,18900.0,0.687273,POOR,2.4,Medium HP,Passenger,25,70.654495,104.9,69.3,185.9,3.208,17.9,2012-11-24
168,Volvo,V70,17531.0,28800.0,20223.0,0.702187,GOOD,2.4,Medium HP,Passenger,25,71.155978,104.9,69.3,186.2,3.259,17.9,2011-06-25
236,Volvo,C70,3493.0,45500.0,34175.0,0.751099,GOOD,2.3,Medium HP,Passenger,23,101.623357,104.9,71.5,185.7,3.601,18.5,2011-04-26
201,Volvo,S80,18969.0,36000.0,26403.0,0.733417,GOOD,2.9,Medium HP,Passenger,24,85.735655,109.9,72.1,189.8,3.600,21.1,2011-11-14

In [ ]:
#using the index to get the desired data row 
df.loc[160] #usage of sqaure bracket because it is index.

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
Horsepower,,,,,,,,,,,,,,,,,,
160,Volvo,S40,16957.0,23400.0,14334.0,0.612564,POOR,1.9,Medium HP,Passenger,25,66.113057,100.5,67.6,176.6,2.998,15.8,2011-02-18
160,Volvo,V40,3545.0,24400.0,15252.0,0.625082,POOR,1.9,Medium HP,Passenger,25,66.498812,100.5,67.6,176.6,3.042,15.8,2011-09-21

In [ ]:
#for selecting rows and columns 
df.iloc[[1, 3, 5, 6], [0,1]]

           Manufacturer Model
Horsepower
225               Acura    TL
150                Audi    A4
310                Audi    A8
170                 BMW  323i

In [ ]:
#loc gives output location according to index starting from 0
#iloc gives the output according to labeled index. 
df.reset_index
df

,Manufacturer,Model,Unit Sales,Price,Year Resale Value,Retention %,Retention Value,Engine Size,HP Level,Vehicle_type,Fuel Efficiency,Power Perf Factor,Wheelbase,Width,Length,Curb Weight,Fuel Capacity,Latest Launch
Horsepower,,,,,,,,,,,,,,,,,,
140,Acura,Integra,16919.0,21500.0,16360.0,0.760930,GOOD,1.8,Medium HP,Passenger,28,58.280150,101.2,67.3,172.4,2.639,13.2,2012-02-02
225,Acura,TL,39384.0,28400.0,19875.0,0.699824,GOOD,3.2,Medium HP,Passenger,25,91.370778,108.1,70.3,192.9,3.517,17.2,2011-06-03
210,Acura,RL,8588.0,42000.0,29725.0,0.707738,GOOD,3.5,Medium HP,Passenger,22,91.389779,114.6,71.4,196.6,3.850,18.0,2011-03-10
150,Audi,A4,20397.0,23990.0,22255.0,0.927678,GOOD,1.8,Medium HP,Passenger,27,62.777639,102.6,68.2,178.0,2.998,16.4,2011-10-08
200,Audi,A6,18780.0,33950.0,23555.0,0.693814,GOOD,2.8,Medium HP,Passenger,22,84.565105,108.7,76.1,192.0,3.561,18.5,2011-08-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Volvo,V40,3545.0,24400.0,15252.0,0.625082,POOR,1.9,Medium HP,Passenger,25,66.498812,100.5,67.6,176.6,3.042,15.8,2011-09-21
168,Volvo,S70,15245.0,27500.0,18900.0,0.687273,POOR,2.4,Medium HP,Passenger,25,70.654495,104.9,69.3,185.9,3.208,17.9,2012-11-24
168,Volvo,V70,17531.0,28800.0,20223.0,0.702187,GOOD,2.4,Medium HP,Passenger,25,71.155978,104.9,69.3,186.2,3.259,17.9,2011-06-25
236,Volvo,C70,3493.0,45500.0,34175.0,0.751099,GOOD,2.3,Medium HP,Passenger,23,101.623357,104.9,71.5,185.7,3.601,18.5,2011-04-26
201,Volvo,S80,18969.0,36000.0,26403.0,0.733417,GOOD,2.9,Medium HP,Passenger,24,85.735655,109.9,72.1,189.8,3.600,21.1,2011-11-14